.scroll-list-container {
    background-color: rgba(0, 0, 0, 0.645);
    height: 85%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 10px 0;
}