.container {
    background-color: blue;

    .navigation-mobile {
        background-color: red;
        min-height: 6vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

            .logo{
                background-color: yellow;
                width: 40%;
            }
            .hamburger-menu{
                background-color: aquamarine;
                width: 60%;
                display: flex;
                justify-content: flex-end;

              .menu{
            
             
            
              }

            }
            .container-menu{
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: rgb(5, 144, 168);

                .menu-item{

                

                    
                }
           
        }
    }

    .navigation {
        background-color: red;
        min-height: 6vh;
         justify-content: space-between;


            .logo{
         
                background-color: yellow;
                width: 10%;
            }

            .container-menu{
                width: 60%;
                display: flex;
                margin-top: auto;
                justify-content: space-around;
                background-color: rgb(2, 230, 89);
                

                .menu-item{
                    list-style: none;
                   
                    
                }

                .menu-item a:link
                {
                    text-decoration: none;
                }
           
        }
    }

    
    .slider {
        height: 200px;
        background-color: pink;
    }

    .main-options {
        .diet {
            background-color: aqua;
            height: 30vh;
            max-height: 300px;
            img {}
        }

        .shop-list {
            background-color: rebeccapurple;
            height: 30vh;
            max-height: 300px;
            img {}
        }

        .meals {
            background-color: royalblue;
            height: 30vh;
            max-height: 300px;
            img {}
        }

        .warehouse {
            background-color: green;
            height: 30vh;
            max-height: 300px;
            img {}
        }
    }

    .contacts {
        .contact {
            height: 200px;
            background-color: gray;
        }

        .map {
            background-color: brown;
        }
    }



    .motto {
        height: 200px;
        background-color: rgb(6, 168, 46);
    }

    .footer {
        min-height: 50px;
    }
}


@media screen and (min-width: 768px) {
    .slider {
        height: 50vh !important;
        max-height: 500px;
    }

    .motto {
        height: 250px !important;
    }

    .contact {
        min-height: 40vh !important;
    }
}