@use "../components/navigation";
@use "../components/footer";
@use "../components/wrapper";

body {
    background-image: url("https://images.pexels.com/photos/6942034/pexels-photo-6942034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");

    header {
        height: calc(100vh - 60px);

        .motto-photo {
            background-image: url("https://images.pexels.com/photos/1400172/pexels-photo-1400172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

            .motto {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-size: 2.5rem;
                text-align: center;
                color: white;
            }
        }

        .carousel {
            padding: 0;
        }
    }

    #options-container {

        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        margin-top: 100px;

        .option {
            background-color: white;
            height: 200px;
            border: 2px solid black;
            border-radius: 20px;

            display: flex;
            justify-content: center;

            a {
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: black;

                img {
                    height: 50%;
                }

                span {
                    margin-top: 20px;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }


        }

        .warehouse {
            margin-bottom: 20px;
        }
    }

    .articles {
        margin-top: 100px;


        .article-photo {
            padding: 0;
        }

        .articles-container {
            background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .hwdp {
                h3 {
                    text-align: center;
                    margin: 20px 0;
                }

                ul {
                    list-style: none;

                    li {
                        line-height: 40px;

                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: bold;
                        }
                    }
                }
            }


            .articles-more {
                display: flex;
                width: 100%;
                text-decoration: none;

                color: black;
                font-weight: bold;
                justify-content: flex-end;

                span {
                    margin: 20px 20px;
                }
            }
        }
    }

    .contest {
        margin-top: 100px;
        position: relative;
        min-height: 50vh;
        width: 100%;
        background: 50% 50% / cover;



        .title {
            padding: 0;
            background-image: url("../../src/img/spider-1.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
    }

    .about-us {
        display: flex;
        margin-top: 100px;
        justify-content: center;
        gap: 30px;

        .aboutus-title {
            text-align: center;
            font-size: 3rem;
        }

        .employee {
            display: flex;
            flex-direction: column;

            img {
                border-radius: 50%;
            }

            span {
                text-align: center;
                font-weight: bold;
                margin: 10px 0 30px 0;
                font-size: 1.4rem;
            }
        }
    }

    #contact {

        h3 {
            margin-top: 20px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                margin-top: 20px;
            }

            input {
                border-radius: 10px;
                height: 2.5rem;
            }

            .message-input {
                height: 100px;
                margin: 20px 0;
            }

            .submit-button {
                margin: 0 auto 20px auto;
            }
        }
    }

    #map {
        height: 65vh;
        background-color: brown;
    }
}



@media (min-width: 768px) {
    header {
        height: auto !important;
    }

    #options-container {
        .warehouse {
            margin-bottom: 0px !important;
        }
    }

    #contact {
        h3 {
            margin-top: 30px !important;
            font-size: 2.5rem;
        }

        form {
            .message-input {
                height: 200px !important;
                margin: 20px 0;
            }
        }
    }
}


@media (min-width: 992px) {
    #map {
        margin-left: 12px !important;
        margin-top: 20px !important;
    }

    .option {
        width: 22% !important;
    }

    #contact {
        border: 2px solid black;
        margin-top: 20px !important;
    }
}

@media (min-width: 1200px) {
    .about-us {
        gap: 70px !important;
    }
}